[submodule "lib/ProgressIndicator"]
	path = lib/ProgressIndicator
	url = https://github.com/h3x4d3c1m4l/BlazorProgressIndicator.git
[submodule "lib/BlazorCarousel"]
	path = lib/BlazorCarousel
	url = https://github.com/VorTechS/BlazorCarousel
