@page "/admin"
<article>
    <style>
        .signin--absolute {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            padding: 10px;
        }
    </style>
    <MatHidden Breakpoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up">
        <ChildContent>
            <MatH1>Admin</MatH1>
        </ChildContent>
        <ElseContent>
            <MatH1>Administration</MatH1>
        </ElseContent>
    </MatHidden>
    <MatBody1>Hey there! This page is for SHSUSAC administration only.</MatBody1>
    <MatBody1>Why don't you checkout our lovely selection of links in the menu to your left?</MatBody1>
    <MatDivider />

    <div class="mat-elevation-z16 signin--absolute">
        <MatH4>Sign in</MatH4>
        <MatBody2>If you are an administrator enter your authentication key below</MatBody2>
        <MatStringField Outlined="true" FullWidth="true" Label="Authentication Key" />
        <MatButton><MatBody2 Style="text-align: center">Sign in</MatBody2></MatButton>
    </div>
</article>
@code {

}
