@page "/charity"
@using Components

<article>
    <MatHidden Breakpoint="MatBreakpoint.MD">
        <ChildContent>
            <section class="mat-layout-grid mat-elevation-z6" style="margin: 10px">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" style="padding: 10px">
                            <MatH1>Charity</MatH1>
                            <MatBody1>
                                Love The Oceans is launching a Sustainable Fishing Project (SFP) to help transition the community over from unsustainable fishing,
                                such as gill netting, to more sustainable methods, such as kayak pole and line fishing. This project is in conjunction with the fishing
                                communities and is locally led. This will allow the coastal communities of Jangamo to survive this difficult time by harvesting protein from the sea,
                                but allow them to do so in a sustainable manner - a win for the sea, and the people!
                            </MatBody1>
                            <MatH2>The Sustainable Fishing Project</MatH2>
                            <MatBody1>
                                Love The Oceans is launching a Sustainable Fishing Project (SFP) to help transition the community over from unsustainable fishing,
                                such as gill netting, to more sustainable methods, such as kayak pole and line fishing. This project is in conjunction with the fishing
                                communities and is locally led. This will allow the coastal communities of Jangamo to survive this difficult time by harvesting protein from the sea,
                                but allow them to do so in a sustainable manner - a win for the sea, and the people!
                            </MatBody1>
                    </div>
                    <div class="mat-elevation-z6 mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <picture>
                            <source sizes="(max-width: 1400px) 100vw, 1400px"
                                    srcset="
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_200.webp 200w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_341.webp 341w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_449.webp 449w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_541.webp 541w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_623.webp 623w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_697.webp 697w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_770.webp 770w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_837.webp 837w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_902.webp 902w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_961.webp 961w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1017.webp 1017w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1079.webp 1079w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1133.webp 1133w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1187.webp 1187w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1239.webp 1239w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1290.webp 1290w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1344.webp 1344w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1395.webp 1395w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1398.webp 1398w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1400.webp 1400w" />
                            <img style="width: 100%"
                                 sizes="(max-width: 1400px) 100vw, 1400px"
                                 srcset="
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_200.jpg 200w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_341.jpg 341w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_449.jpg 449w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_541.jpg 541w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_623.jpg 623w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_697.jpg 697w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_770.jpg 770w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_837.jpg 837w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_902.jpg 902w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_961.jpg 961w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1017.jpg 1017w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1079.jpg 1079w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1133.jpg 1133w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1187.jpg 1187w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1239.jpg 1239w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1290.jpg 1290w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1344.jpg 1344w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1395.jpg 1395w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1398.jpg 1398w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1400.jpg 1400w" />
                        </picture>
                        <MatSubtitle2>Jeff Hester for Photographers Without Borders</MatSubtitle2>
                    </div>
                </div>
            </section>
        </ChildContent>
        <ElseContent>
            <section class="mat-layout-grid mat-elevation-z6" style="margin: 10px">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" style="padding: 10px">
                        <MatH1>Charity</MatH1>
                        <MatBody1>
                            Love The Oceans is launching a Sustainable Fishing Project (SFP) to help transition the community over from unsustainable fishing,
                            such as gill netting, to more sustainable methods, such as kayak pole and line fishing. This project is in conjunction with the fishing
                            communities and is locally led. This will allow the coastal communities of Jangamo to survive this difficult time by harvesting protein from the sea,
                            but allow them to do so in a sustainable manner - a win for the sea, and the people!
                        </MatBody1>
                        <MatH2>The Sustainable Fishing Project</MatH2>
                        <MatBody1>
                            Love The Oceans is launching a Sustainable Fishing Project (SFP) to help transition the community over from unsustainable fishing,
                            such as gill netting, to more sustainable methods, such as kayak pole and line fishing. This project is in conjunction with the fishing
                            communities and is locally led. This will allow the coastal communities of Jangamo to survive this difficult time by harvesting protein from the sea,
                            but allow them to do so in a sustainable manner - a win for the sea, and the people!
                        </MatBody1>
                    </div>
                    <picture class="mat-elevation-z6 mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <source sizes="(max-width: 1400px) 100vw, 1400px"
                             srcset="
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_200.webp 200w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_341.webp 341w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_449.webp 449w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_541.webp 541w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_623.webp 623w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_697.webp 697w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_770.webp 770w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_837.webp 837w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_902.webp 902w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_961.webp 961w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1017.webp 1017w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1079.webp 1079w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1133.webp 1133w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1187.webp 1187w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1239.webp 1239w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1290.webp 1290w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1344.webp 1344w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1395.webp 1395w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1398.webp 1398w,
                                img/charity/008988/webp/txLUrO9r_zvgt7c_c_scale_w_1400.webp 1400w"/>
                        <img style="width: 100%" 
                             sizes="(max-width: 1400px) 100vw, 1400px"
                             srcset="
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_200.jpg 200w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_341.jpg 341w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_449.jpg 449w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_541.jpg 541w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_623.jpg 623w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_697.jpg 697w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_770.jpg 770w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_837.jpg 837w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_902.jpg 902w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_961.jpg 961w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1017.jpg 1017w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1079.jpg 1079w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1133.jpg 1133w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1187.jpg 1187w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1239.jpg 1239w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1290.jpg 1290w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1344.jpg 1344w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1395.jpg 1395w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1398.jpg 1398w,
                                img/charity/008988/jpg/txLUrO9r_zvgt7c_c_scale_w_1400.jpg 1400w"
                             />
                    </picture>
                    <MatSubtitle2>Jeff Hester for Photographers Without Borders</MatSubtitle2>
                </div>
            </section>
        </ElseContent>
    </MatHidden>

    <section class="mat-layout-grid" style="overflow-x: hidden">
        <div class="carousel-wrap mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <div style="margin: 5px">
                <picture>
                    <source sizes="(max-width: 1400px) 100vw, 1400px"
                            srcset="
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_200.webp 200w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_417.webp 417w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_581.webp 581w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_721.webp 721w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_841.webp 841w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_950.webp 950w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_1050.webp 1050w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_1148.webp 1148w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_1250.webp 1250w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_1341.webp 1341w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_1393.webp 1393w,
                                            img/charity/2019-07-16_1_fishermen_boat/webp/e38aHI-g_qcn5g6_c_scale_w_1400.webp 1400w" />
                    <img sizes="(max-width: 1400px) 100vw, 1400px" width="100%"
                         srcset="
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_200.jpg 200w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_417.jpg 417w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_581.jpg 581w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_721.jpg 721w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_841.jpg 841w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_950.jpg 950w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_1050.jpg 1050w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_1148.jpg 1148w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_1250.jpg 1250w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_1341.jpg 1341w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_1393.jpg 1393w,
                                            img/charity/2019-07-16_1_fishermen_boat/jpg/e38aHI-g_qcn5g6_c_scale_w_1400.jpg 1400w"
                         alt="">
                </picture>
                <MatSubtitle2>Sophie Lafrance for Photographers Without Borders</MatSubtitle2>
            </div>
            <div style="margin: 5px">
                <picture>
                    <source sizes="(max-width: 1400px) 100vw, 1400px"
                            srcset="
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_200.webp 200w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_368.webp 368w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_497.webp 497w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_604.webp 604w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_713.webp 713w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_805.webp 805w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_885.webp 885w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_966.webp 966w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_1046.webp 1046w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_1123.webp 1123w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_1196.webp 1196w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_1268.webp 1268w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_1337.webp 1337w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_1398.webp 1398w,
                                img/charity/2019-07-15_6_fishermen_and_LTO_staff/webp/MS6WCQeA_ays4hq_c_scale_w_1400.webp 1400w" />
                    <img sizes="(max-width: 1400px) 100vw, 1400px" width="100%"
                         srcset="
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_200.jpg 200w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_368.jpg 368w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_497.jpg 497w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_604.jpg 604w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_713.jpg 713w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_805.jpg 805w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_885.jpg 885w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_966.jpg 966w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_1046.jpg 1046w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_1123.jpg 1123w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_1196.jpg 1196w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_1268.jpg 1268w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_1337.jpg 1337w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_1398.jpg 1398w,
                            img/charity/2019-07-15_6_fishermen_and_LTO_staff/jpg/MS6WCQeA_ays4hq_c_scale_w_1400.jpg 1400w"
                         alt="">
                </picture>
                <MatSubtitle2>Sophie Lafrance for Photographers Without Borders</MatSubtitle2>
            </div>
            <div style="margin: 5px">
                <picture>
                    <source sizes="(max-width: 1280px) 100vw, 1280px"
                            srcset="
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_200.webp 200w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_354.webp 354w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_468.webp 468w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_575.webp 575w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_648.webp 648w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_724.webp 724w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_795.webp 795w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_866.webp 866w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_928.webp 928w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_992.webp 992w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_1055.webp 1055w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_1113.webp 1113w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_1171.webp 1171w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/webp/zLpy3C6z_pdi9sy_c_scale_w_1280.webp 1280w" />
                    <img sizes="(max-width: 1280px) 100vw, 1280px" width="100%"
                         srcset="
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_200.jpg 200w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_354.jpg 354w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_468.jpg 468w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_575.jpg 575w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_648.jpg 648w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_724.jpg 724w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_795.jpg 795w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_866.jpg 866w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_928.jpg 928w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_992.jpg 992w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_1055.jpg 1055w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_1113.jpg 1113w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_1171.jpg 1171w,
                            img/charity/PhotographersWithoutBorders_ORG_JeffHester_2/jpg/zLpy3C6z_pdi9sy_c_scale_w_1280.jpg 1280w" />
                </picture>
                <MatSubtitle2>Jeff Hester for Photographers Without Borders</MatSubtitle2>
            </div>
            <div style="margin: 5px">
                <picture>
                    <source sizes="(max-width: 877px) 100vw, 877px"
                            srcset="
                             img/charity/coral_reef/webp/N_eaN_ox_njmfpw_c_scale_w_200.webp 200w,
                             img/charity/coral_reef/webp/N_eaN_ox_njmfpw_c_scale_w_391.webp 391w,
                             img/charity/coral_reef/webp/N_eaN_ox_njmfpw_c_scale_w_532.webp 532w,
                             img/charity/coral_reef/webp/N_eaN_ox_njmfpw_c_scale_w_650.webp 650w,
                             img/charity/coral_reef/webp/N_eaN_ox_njmfpw_c_scale_w_877.webp 877w" />
                    <img sizes="(max-width: 877px) 100vw, 877px" width="100%"
                         srcset="
                             img/charity/coral_reef/jpg/N_eaN_ox_njmfpw_c_scale_w_200.jpg 200w,
                             img/charity/coral_reef/jpg/N_eaN_ox_njmfpw_c_scale_w_391.jpg 391w,
                             img/charity/coral_reef/jpg/N_eaN_ox_njmfpw_c_scale_w_532.jpg 532w,
                             img/charity/coral_reef/jpg/N_eaN_ox_njmfpw_c_scale_w_650.jpg 650w,
                             img/charity/coral_reef/jpg/N_eaN_ox_njmfpw_c_scale_w_877.jpg 877w"
                         alt="">
                </picture>
                <MatSubtitle2>Danielle Da Silva for Photographers Without Borders</MatSubtitle2>
            </div>
            <div style="margin: 5px">
                <picture>
                    <source sizes="(max-width: 1400px) 100vw, 1400px"
                            srcset="
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_200.webp 200w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_341.webp 341w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_455.webp 455w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_547.webp 547w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_637.webp 637w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_723.webp 723w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_805.webp 805w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_886.webp 886w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_948.webp 948w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1026.webp 1026w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1094.webp 1094w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1163.webp 1163w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1231.webp 1231w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1293.webp 1293w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1354.webp 1354w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1388.webp 1388w,
                                img/charity/20190713-0K8A1580/webp/eeKe_iS-_nvbwvd_c_scale_w_1400.webp 1400w"
                            />
                    <img sizes="(max-width: 1400px) 100vw, 1400px" width="100%"
                         srcset="
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_200.jpg 200w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_341.jpg 341w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_455.jpg 455w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_547.jpg 547w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_637.jpg 637w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_723.jpg 723w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_805.jpg 805w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_886.jpg 886w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_948.jpg 948w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1026.jpg 1026w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1094.jpg 1094w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1163.jpg 1163w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1231.jpg 1231w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1293.jpg 1293w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1354.jpg 1354w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1388.jpg 1388w,
                            img/charity/20190713-0K8A1580/jpg/eeKe_iS-_nvbwvd_c_scale_w_1400.jpg 1400w"
                         alt="">
                </picture>
                <MatSubtitle2>Stella Levantesi for Photographers Without Borders</MatSubtitle2>
            </div>
            <div style="margin: 5px">
                <picture>
                    <source sizes="(max-width: 1400px) 100vw, 1400px"
                         srcset="
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_200.webp 200w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_373.webp 373w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_500.webp 500w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_607.webp 607w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_703.webp 703w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_797.webp 797w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_877.webp 877w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_957.webp 957w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1017.webp 1017w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1088.webp 1088w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1164.webp 1164w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1220.webp 1220w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1280.webp 1280w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1349.webp 1349w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1397.webp 1397w,
                            img/charity/sunrise_fisherman/webp/FndQvwfw_qovdu3_c_scale_w_1400.webp 1400w"
                             />
                    <img sizes="(max-width: 1400px) 100vw, 1400px" width="100%"
                         srcset="
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_200.jpg 200w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_373.jpg 373w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_500.jpg 500w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_607.jpg 607w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_703.jpg 703w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_797.jpg 797w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_877.jpg 877w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_957.jpg 957w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1017.jpg 1017w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1088.jpg 1088w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1164.jpg 1164w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1220.jpg 1220w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1280.jpg 1280w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1349.jpg 1349w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1397.jpg 1397w,
                            img/charity/sunrise_fisherman/jpg/FndQvwfw_qovdu3_c_scale_w_1400.jpg 1400w"
                         alt="">
                </picture>
                <MatSubtitle2>Sophie Lafranc for Photographers Without Borders</MatSubtitle2>
            </div>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-12 slick-dots"></div>
        <ClientScript>
            <script>
                $(document).ready(function () {
                    $('.carousel-wrap').slick({
                        infinite: true,
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        autoplay: true,
                        autoplaySpeed: 3000,
                        arrows: false,
                        responsive: [
                            {
                                breakpoint: 960,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            }
                        ]
                    });
                });
            </script>
        </ClientScript>
    </section>

    <section class="mat-elevation-z6" style="margin: 10px; padding: 10px;">
        <MatH2>A quick breakdown of what your support can buy</MatH2>
        <div class="mat-layout-grid" style="margin: 3px">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatH5>£1.50 – 1 Meter of rudder cable</MatH5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatH5>£7 – 1 Line</MatH5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatH5>£30 – 1 Rod</MatH5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatH5>£33 – 1 Life jacket</MatH5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatH5>£50 - 1 Paddle</MatH5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatH5>£170 – Kayak</MatH5>
                </div>
            </div>
        </div>
        <MatBody1>The project is designed to eventually become financially sustainable in itself, with the fishermen earning enough to maintain it.</MatBody1>
    </section>
    
</article>