@page "/guidence"

<article>
    <MatHidden Breakpoint="MatBreakpoint.MD">
        <ChildContent>
            <div class="mat-layout-grid mat-elevation-z6" style="margin: 10px">
                <div class="mat-layout-grid-inner">
                    <picture class="mat-elevation-z6 mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <img sizes="(max-width: 1400px) 100vw, 1400px"
                             srcset="
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_200.jpg 200w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_385.jpg 385w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_530.jpg 530w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_651.jpg 651w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_763.jpg 763w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_867.jpg 867w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_960.jpg 960w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1049.jpg 1049w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1129.jpg 1129w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1225.jpg 1225w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1295.jpg 1295w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1377.jpg 1377w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1400.jpg 1400w"
                             src="img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1400.jpg" style="width: 100%" alt="" />
                    </picture>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="padding: 10px">
                                <MatH1>Staying safe</MatH1>
                                <MatBody1>
                                    When taking on the 10k your safety and others around you is important. We have some advice we would like you to consider to stay safe when taking part
                                </MatBody1>
                                <div class="mat-layout-grid-inner">
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 mat-elevation-z16" style="padding: 15px">
                                        <MatBody2>Plan your route with caution and make sure that it is legal and safe, use public places the right way</MatBody2>
                                    </div>
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 mat-elevation-z16" style="padding: 15px">
                                        <MatBody2>Dress appropriately for the conditions and carry everything you need to keep hydrated</MatBody2>
                                    </div>
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4 mat-elevation-z16" style="padding: 15px">
                                        <MatBody2>
                                            Follow current social distancing guidelines at all times, please don’t organise any groups that could break social distancing rules.<br />
                                            <MatAnchorLink href="https://www.gov.uk/government/collections/coronavirus-covid-19-list-of-guidance">Keep updated on the current rules and guidelines</MatAnchorLink>
                                        </MatBody2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ChildContent>
        <ElseContent>
            <div class="mat-layout-grid mat-elevation-z6" style="margin: 10px">
                <div class="mat-layout-grid-inner">
                    <picture class="mat-elevation-z6 mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <img sizes="(max-width: 1400px) 100vw, 1400px"
                             srcset="
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_200.jpg 200w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_385.jpg 385w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_530.jpg 530w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_651.jpg 651w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_763.jpg 763w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_867.jpg 867w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_960.jpg 960w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1049.jpg 1049w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1129.jpg 1129w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1225.jpg 1225w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1295.jpg 1295w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1377.jpg 1377w,
img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1400.jpg 1400w"
                             src="img/race/dsc_4171/jpg/DSC_4171_na8pkl_c_scale,w_1400.jpg" style="width: 100%" alt="" />
                    </picture>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="padding: 10px">
                        <MatH1>Staying safe</MatH1>
                        <MatBody1>
                            When taking on the 10k your safety and others around you is important. We have some advice we would like you to consider to stay safe when taking part
                        </MatBody1>
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 mat-elevation-z16" style="padding: 15px">
                                <MatBody2>Plan your route with caution and make sure that it is legal and safe, use public places the right way</MatBody2>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 mat-elevation-z16" style="padding: 15px">
                                <MatBody2>Dress appropriately for the conditions and carry everything you need to keep hydrated</MatBody2>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4 mat-elevation-z16" style="padding: 15px">
                                <MatBody2>
                                    Follow current social distancing guidelines at all times, please don’t organise any groups that could break social distancing rules.<br />
                                    <MatAnchorLink href="https://www.gov.uk/government/collections/coronavirus-covid-19-list-of-guidance">Keep updated on the current rules and guidelines</MatAnchorLink>
                                </MatBody2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ElseContent>
    </MatHidden>
</article>