@inherits LayoutComponentBase

<!--
CSS Rain from https://codepen.io/Coderesting/pen/RwwLPZM by Yannick Brandt
-->

<div class="container">

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <article class="message-container">
        @Body
    </article>
</div>
